@page "/"

<PageTitle>Index</PageTitle>

<div class="container">
    <h1 class="display-1">Henlo World!</h1>

    <a href="/auction/1">
        <button class="btn btn-warning">Auction #1</button>
    </a>
</div>