{
  "Logging": {
    "LogLevel": {
      "Default": "Information",
      "Microsoft.AspNetCore": "Warning"
    }
  },
  "AllowedHosts": "*",
  "ConnectionStrings": {
    "DefaultConnection": "server=[IP_ADDRESS]; port=3306; database=[DB_NAME]; user=[USER]; password=[PASSWORD]; Persist Security Info=False; Connect Timeout=300"
  }
}